@media only screen and (max-width : 480px) {
  main {
    width: 480px;
  }
  #a{
    height: 73px;
    width: 478px;
    margin: auto;
    background-color: purple;
    border: black;
    border-width: 1px;
    border-style: solid;
  }
  #b {
    height: 148px;
    width: 478px;
    margin: auto;
    background-color: blue;
    border: black;
    border-width: 1px;
    border-style: solid;
  }
  #c, #d {
    height: 123px;
    width: 478px;
    background-color: green;
    border: black;
    border-width: 1px;
    border-style: solid;
  }
  #e, #g{
    height: 248px;
    width: 238px;
    float: left;
    background-color: aqua;
    border: black;
    border-width: 1px;
    border-style: solid;
  }
  #f, #h {
    height: 248px;
    width: 238px;
    float: right;
    background-color: pink;
    border: black;
    border-width: 1px;
    border-style: solid;
  }
  #i {
    height: 78px;
    width: 478px;
    background-color: purple;
    border: black;
    border-width: 1px;
    border-style: solid;
    float: none;
  }
}


body {
  width: 780px;
}
main {
   width: 768px;
   margin: auto;
}
#a {
  height: 98px;
  width: 958px;
  margin: auto;
  background-color: red;
  border: black;
  border-width: 1px;
  border-style: solid;
}
#b {
  height: 598px;
  width: 198px;
  margin: none;
  background-color: blue;
  border: black;
  border-width: 1px;
  border-style: solid;
  float: left;
}
#same {
  float: right;
}
#c, #d {
  height: 198px;
  width: 378px;
  background-color: green;
  border: black;
  border-width: 1px;
  border-style: solid;
}
#c {
  float: left;
}
#d {
  float: left;
}
#e, #g{
  height: 248px;
  width: 188px;
  float: left;
  background-color: aqua;
  border: black;
  border-width: 1px;
  border-style: solid;
}
#f, #h {
  height: 248px;
  width: 188px;
  float: right;
  background-color: pink;
  border: black;
  border-width: 1px;
  border-style: solid;
  }
#i {
  height: 148px;
  width: 758px;
  background-color: purple;
  border: black;
  border-width: 1px;
  border-style: solid;
  float: none;
}